<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clotish | About us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/aboutus.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/navbarcss.css')}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="{{url_for('static', filename = 'favicon.ico')}}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>,
</head>
<body>
    {% include "includes/pageloader.html" %}
    {% include "includes/navbar.html" %}
    <h3>Hakkımızda</h3>
    <h2 class="text">Clotish. Bireyler için kalite.</h2>
    <section>
        <h2 class="innertext">Clotish. Bireyler için kalite.</h2>
    </section>
    <div class="gelisme">
        <div class="whyclotish">
        <span class="header" data-aos="fade-right">Neden "Clotish."?</span>
        <span class="explanation" data-aos="fade-down" data-aos-delay="100">Çünkü umutluyuz. Bu işe yeni başlamamıza rağmen kendimize güvenimiz tam ve müşterilerimiz için elimizden ne gelirse yapmaya hazırız. İş olarak küçük olsak da hizmet olarak büyük bir özenle siz müşterilerimizi memnun etmek gayemizdir.</span>
        </div>
    </div>
    <div class="quality">
        <span class="qualityheader" data-aos="fade-right">Kalite.</span>
        <span class="explanation second" data-aos="fade-down" data-aos-delay="150">Siz müşterilerimize kaliteli ürünler sunabilmek adına malzemelerimizi özenle seçiyoruz.</span>
        <div class="imagesaboutquality">
            
            <div class="firstimgandexpl">
                <img src="/static/image/florkie6.png" alt="">
                <span class="imgexplanation">Florkie tasarım serimizle siz değerli müşterilerimize özel bir deneyim sunuyoruz.  Sizlerle birebir ilgileniyor, tarzınızı ve tercihlerinizi anlamak için sizlere özel zaman ayırıyoruz. Müşterilerimizin isteklerini dikkate alarak, Florkie tasarımlarımızı sizlerin kişisel zevkleriyle buluşturuyor ve benzersiz tasarımlar ortaya çıkarıyoruz. Bu özel yaklaşım, Clotsih markasını sadece bir giyim markası değil, aynı zamanda kişisel bir deneyim olarak konumlandırıyor. Her bir müşterimiz, Florkie'nin eşsiz dünyasına katılarak kendi tarzını ifade etme fırsatını yakalıyor.</span>
            </div>
            
            <div class="secondimgandexp">
                <span class="secondimgexplanation">Şık ve rahat giyim tercih edenler için ideal olan oversize sweatshirt ve oversize hoodie modellerimiz, %100 pamuk yapıları ile gün boyu konfor sağlar. Bisiklet yaka tasarımı, modern ve şık bir görünüm sunarken, 3 iplikli dokusu ürünlere dayanıklılık kazandırır. Hem oversize sweatshirt hem de oversize hoodie, şıklığı ve rahatlığı bir araya getirerek kullanıcılarımıza tarzlarını özgürce ifade etme imkanı sunar.</span>
                <img src="/static/image/3dimage4.png" alt="clotishimage">
            </div>
        </div>
    </div>
    <div class="somesamples">
        <span class="header sampleheader" data-aos="fade-right">Güvenimiz Tam!</span>
        <span class="explanation" data-aos="fade-down" data-aos-delay="100">Ürünlerimizin kalitesine güvenimiz tam. Memnun olmadığınız takdirde ilk ayda istediğiniz gibi iade/değişiklik yapabilirsiniz. Tabii kıyafetlerimizi sevgiyle ürettiğimizden iade etmek istemeyeceğinizden eminiz<br> <br> <span class="insidetext">"Ama dikkat, ürünlerimiz bağımlılık yapabilir!"</span> </span>
        
    </div>
    <div class="clothmachine">
        <div class="spacediv">
            <img src="/static/image/florkieteacher.png" alt="">
            <span class="innerrealtext">Florkie Okulu'nun minimal atölyesinde, bir yanda neşeli tasarımlar, diğer yanda ise biraz drama! Florkie öğretmen, ismi Flare'dir ve o, moda dünyasının disiplinli lideridir. Ancak, Flare öğrencilere "Florkie tasarımı böyle mi olur?" dediğinde, sınıfın enerjisi biraz düşer. Flare, öğrencilere desenleri bir araya getirmenin sırlarını öğretirken, onların yaratıcılıklarını zorlamaktan da geri kalmaz.<br> <br> <br>Bu renkli sınıfta, Flare'nin azarları bir yandan öğrencileri üzebilir, ancak bir yandan da onları daha iyi tasarımlar yapmaya teşvik eder. Sonuçta, Florkie Okulu'nun her bir hikayesi, kumaşların dünyasında yaratıcılığın serüvenini anlatıyor! 👔👗✨</span>
        </div>
    </div>








<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js" integrity="sha512-8E3KZoPoZCD+1dgfqhPbejQBnQfBXe8FuwL4z/c8sTrgeDMFEnoyTlH3obB4/fV+6Sg0a0XF+L/6xS4Xx1fUEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.js" integrity="sha512-judXDFLnOTJsUwd55lhbrX3uSoSQSOZR6vNrsll+4ViUFv+XOIr/xaIK96soMj6s5jVszd7I97a0H+WhgFwTEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.js" integrity="sha512-mq6TSOBEH8eoYFBvyDQOQf63xgTeAk7ps+MHGLWZ6Byz0BqQzrP+3GIgYL+KvLaWgpL8XgDVbIRYQeLa3Vqu6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{url_for('static',filename = 'js/aboutus.js')}}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>